.bottomBox
	position: fixed
	bottom: 50px
	width: 100%
.background-bg
	background: url('../images/bg1.jpg') no-repeat center center
	background-size: cover
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

