<md-toolbar layout="row" layout-padding layout-align="start center" class="md-primary">
  <div flex="20">
		<md-button class="" hide-gt-sm ng-click="ul.toggleList()" >
	    <md-icon md-svg-icon="images/svg/menu.svg"></md-icon>
	  </md-button> 
	  <div>
	  	<a ng-href="/#/" class="logo">Questionary</a>
	  </div>
  </div>
  <div flex="80">
	  <div layout="row" layout-align="end center">
		  <md-button ng-click="showDialog($event, 'howItWorks')" >
		    How it works?
		  </md-button>
		  <md-button ng-click="showDialog($event, 'contacts')" >
		    Contacts
		  </md-button>
	  </div>
  </div>
</md-toolbar>