<div ng-include="'scripts/modules/header/views/header.html'" ng-controller="HeaderCtrl"></div>
<md-content layout-padding layout-margin>
<div md-whiteframe="1">
    <md-progress-linear class="md-warn" md-mode="determinate" value="{{progressBar.value}}"></md-progress-linear>
    <md-tabs md-dynamic-height md-border-bottom  md-selected="selectedTab">
      <md-tab ng-repeat="question in questionData" ng-disabled="isDisabledTab(question, $index)" label="{{$index+1}}">
        <md-content class="md-padding">
          <h1 class="md-display-2">{{question.title}}</h1>
          <p>{{question.description}}</p>
          <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
            <div class="padded-wrap" ng-repeat="answer in question.answers" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
              <div  md-whiteframe="1" class="answer-box" ng-class="{selected: answer.selected}" ng-click="selectAnswer(answer)">
                <div class="over-bg" ng-if="answer.selected"></div>
                <div class="demoImg">
                  <!-- <img ng-src="{{answer.imgUrl}}" alt="answer.title"> -->
                </div>
                <div class="padded-wrap">
                  <span class="md-headline">{{answer.title}}</span>
                  <span class="md-subhead">{{answer.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
</div>
</md-content>