<div ng-include="'scripts/modules/header/views/header.html'" ng-controller="HeaderCtrl"></div>
<div class="background-bg"></div>
<div class="bottomBox" layout="row" layout-align="center bottom">
  <md-button class="md-raised md-warn" layout-padding="10" ng-href="/#/constructor">Start</md-button>
</div>
