<md-toolbar layout="row" layout-padding layout-align="start center" class="md-primary">
	<md-button class="" hide-gt-sm ng-click="ul.toggleList()" >
    <md-icon md-svg-icon="images/svg/menu.svg"></md-icon>
  </md-button> 
  <div>
  	<a ng-href="/#/" class="logo">Admin panel</a>
  </div>
</md-toolbar>