<div ng-include="'scripts/modules/admin/views/admin-header.html'" ng-controller="HeaderCtrl"></div>
<md-container layout-padding layout-margin>
	<div md-whiteframe="1">
		<h1 layout-padding layout-margin>Add Question</h1>
		<p layout-padding layout-margin>Feel the form to add new question</p>
		<div layout-padding layout-margin>
			<div layout="row" layout-padding="0" layout-margin="0">
		    <md-input-container flex=30>
		      <label>Question Title</label>
		      <input md-maxlength="30" required md-no-asterisk name="description" ng-model="question.title">
		      <div ng-messages="projectForm.description.$error">
		        <div ng-message="required">This is required.</div>
		        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
		      </div>
		    </md-input-container>
	    </div>
	    <div layout="row" layout-padding="0" layout-margin="0">
		    <md-input-container flex=30>
		      <label>Question Description</label>
		      <textarea ng-model="question.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
		      <div ng-messages="projectForm.description.$error">
		        <div ng-message="required">This is required.</div>
		      </div>
		    </md-input-container>
	    </div>
	    <div layout="row" layout-padding="0" layout-margin="0">
		  	<md-input-container flex=30>
		      <label>Question type</label>
		      <md-select ng-model="question.option">
		        <md-option ng-repeat="option in questionOptions" value="{{option}}">
		          {{option}}
		        </md-option>
		      </md-select>
		      <div ng-messages="projectForm.description.$error">
		        <div ng-message="required">This is required.</div>
		      </div>
		    </md-input-container>
	    </div>
    </div>
		<h3 layout-padding layout-margin>Answers param</h3>
	  <md-table-container layout-padding layout-margin>
	    <table md-table>
	      <thead md-head>
	        <tr md-row>
	          <th md-column>#</th>
	          <th md-column>Answer</th>
	          <th md-column>Option</th>
	        </tr>
	      </thead>
	      <tbody md-body>
	        <tr md-row ng-repeat="answer in question.answers">
	          <td md-cell>{{$index+1}}</td>
	          <td md-cell>
	          	<md-input-container class="md-block">
					      <label>Answer Title</label>
					      <input md-maxlength="30" required md-no-asterisk name="description" ng-model="answer.title">
					      <div ng-messages="projectForm.description.$error">
					        <div ng-message="required">This is required.</div>
					        <div ng-message="md-maxlength">The title has to be less than 30 characters long.</div>
					      </div>
					    </md-input-container>
					    <md-input-container class="md-block">
					      <label>Answer Description</label>
					      <textarea ng-model="answer.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
					      <div ng-messages="projectForm.description.$error">
					        <div ng-message="required">This is required.</div>
					        <div ng-message="md-maxlength">The description has to be less than 30 characters long.</div>
					      </div>
					    </md-input-container>
	    			</td>
	          <td md-cell>
	            <md-button class="md-fab md-mini md-primary" ng-click="deleteAnswer($event, answer, $index)" aria-label="Use Android">
	              <md-icon class="material-icons md-18" flex>&#xE872;</md-icon>
	            </md-button>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	  </md-table-container>
	  <div layout="row">
		  <md-button class="md-raised md-warn" ng-click="addAnswer()">Add Answer</md-button>
    </div>
    <md-button class="md-raised md-warn" ng-click="saveQuestion($event)">Save question</md-button>
		<md-button class="md-raised " ng-click="goBack()">Go Back</md-button>
	</div>
</md-toolbar>