<div ng-include="'scripts/modules/admin/views/admin-header.html'" ng-controller="HeaderCtrl"></div>
<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Questions</span>
  </div>
</md-toolbar>

<!-- exact table from live demo -->


  <md-table-container layout-padding>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column>#</th>
          <th md-column>Question Title</th>
          <th md-column>Option</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="question in questions">
          <td md-cell>{{$index +1}}</td>
          <td md-cell>
            <a href="/#admin/question/{{question._id}}/edit">{{question.title}}</a>
            <div>
              {{question.description}}
            </div>
          </td>
          <td md-cell>{{question.option}}</td>
          <td md-cell layout="row">
            <md-button class="md-fab md-mini md-primary" ng-href="/#admin/question/{{question._id}}/edit" aria-label="Use Android" >
              <md-icon class="material-icons md-18" flex>&#xE254;</md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="deleteQuestion($event, question)">
              <md-icon class="material-icons md-18" flex>&#xE872;</md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-button class="md-raised md-warn" ng-click="addQuestion()">Add question</md-button>

<!-- <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination> -->